<!DOCTYPE html>
<html>
<head>
	<title>Delete</title>
</head>
<body>
	<h2>Delete</h2>
	<p>Your Id is <%= id %></p>
	<form method="post">
		<input type="Hidden" name="id" value="<%=id%>">
		<button type="submit">Delete</button>
	</form>
</body>
</html>