<div class="mtt_catagory">
    <img src="https://s6.postimg.org/9m3yvl65p/catagory_icon.png" />
    Catagory
</div>
<div id="mainselection">
  <select id="catagory">
    <option selected="true" disabled="disabled">Select an Option</option>
    <option>Men</option>
    <option>Women</option>
    <option>Food</option>
    <option>Electronics</option>
  </select>
</div>