<div class="mtt_catagory">
    <img src="https://s6.postimg.org/9m3yvl65p/catagory_icon.png" />
    Catagory
</div>
<form method="post" action="/index/catagorysearch">
<div id="mainselection">
  <select id="catagory" name="catagory">
    <option selected="true" disabled="disabled">Select an Option</option>
    <option value="Men">Men</option>
    <option value="Women">Women</option>
    <option value="Food">Food</option>
    <option value="Electronics">Electronics</option>
  </select>
</div>
</form>