<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<h2>User list</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <tr>
    <%for(var i=0;i<result.length;i++){%>
    <td><%=result[i].id%></td>
    <td><%=result[i].name%></td>
    <td><%=result[i].email></td>
    <%}%>
  </tr>
  
</table>

</body>
</html>
