<!--Changing the number in the column_# class changes the number of columns-->
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<div id="wrap">
	<div id="columns" class="columns_4">
  <figure>
  <img src="https://i.imgur.com/ruU04I6.jpg">
	<figcaption>Green Checkered Shirt</figcaption>
    <span class="price">$44</span>
    <a class="button" href="#">Book Now</a>
	</figure>
	
	<figure>
	<img src="https://i.imgur.com/sPxEkEI.jpg">
	<figcaption>Green and Black Flowers</figcaption>
    <span class="price">$44</span>
    <a class="button" href="#">Book Now</a>
	</figure>
	
  <figure>
	<img src="https://i.imgur.com/S3Umfmb.jpg">
	<figcaption>Black Dots</figcaption>
    <span class="price">$44</span>
    <a class="button" href="#">Book Now</a>
	</figure>
  
	<figure>
	<img src="https://i.imgur.com/x1IZjjy.jpg">
	<figcaption>Red Flowy</figcaption>
    <span class="price">$44</span>
    <a class="button" href="#">Book Now</a>
	</figure>
	
   <figure>
	 <img src="https://i.imgur.com/Jv8IWKQ.jpg">
	<figcaption>Yellow Button-Up</figcaption>
    <span class="price">$44</span>
    <a class="button" href="#">Book Now</a>
	</figure>
	
   <figure>
	 <img src="https://i.imgur.com/MpLejRu.jpg">
	<figcaption>Put a Bird On It</figcaption>
     <span class="price">$44</span>
     <a class="button" href="#">Book Now</a>
	</figure>
  
	<figure>
	<img src="https://i.imgur.com/SZmPJ7W.jpg">
	<figcaption>Polka Dots</figcaption>
    <span class="price">$44</span>
    <a class="button" href="#">Book Now</a>
	</figure>	
  
   <figure>
	<img src="https://i.imgur.com/OiEMgMx.jpg">
	<figcaption>Blue Spots</figcaption>
     <span class="price">$44</span>
     <a class="button" href="#">Book Now</a>
	</figure>
  
    <figure>
	<img src="https://i.imgur.com/HolvggB.jpg">
    <figcaption>Pink Dots</figcaption>
      <span class="price">$44</span>
      <a class="button" href="#">Book Now</a>
	</figure>	
</div>

	<hr>
	<footer class="bg-dark text-white">
	<% include ../partials/footer %>
	</footer>

</body>
</html>