<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>
	<div id="wrap">
		<div id="columns" class="columns_4">
			<%for(var i=0;i<result.length;i++){%>
			<a href="/index/productdetails/<%=result[i].id%>">
				<figure>
				  <img src="https://i.imgur.com/ruU04I6.jpg" alt='Hello Moni'>
					<figcaption><%=result[i].productname%></figcaption>
				    <span class="price">$<%=result[i].price%></span>
				    <div class="row">
				    	<div class="col-md-6 no-pad">
				    		<a class="button" href="/index/addtocart/<%=result[i].id%>">Add to Cart</a>
				    	</div>
				    	<div class="col-md-6 no-pad">
				    		<a class="button" href="#">Buy Now</a>
				    	</div>
				    </div>
				</figure>
			</a>
			<%}%>
			
		</div>
	</div>
	
	<hr>
	<footer class="bg-dark text-white">
	<% include ../partials/footer %>
	</footer>
</body>	
</html>