<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>	
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
					  <div class="tab-pane active" id="pic-1"><img src="https://i.imgur.com/ruU04I6.jpg" alt="Hello Moni" /></div>
					</div>
					<%for(var i=0;i<result.length;i++){%>
						<div class="details col-md-6">
							<h3 class="product-title"><%=result[i].productname%></h3>
							<div class="rating">
								<div class="stars">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
							<p class="product-description"><%=result[i].details%></p>
							<h4 class="price">current price: <span>$<%=result[i].price%></span></h4>
							<h5 class="sizes">sizes:
								<span class="size" data-toggle="tooltip" title="small">s</span>
								<span class="size" data-toggle="tooltip" title="medium">m</span>
								<span class="size" data-toggle="tooltip" title="large">l</span>
								<span class="size" data-toggle="tooltip" title="xtra large">xl</span>
							</h5>
							<h5 class="colors">colors:
								<span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
								<span class="color green"></span>
								<span class="color blue"></span>
							</h5>
							<div class="action">
								<button class="add-to-cart btn btn-default" type="button">add to cart</button>
								<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
							</div>
						</div>
					<%}%>
				</div>
			</div>
		</div>
	</div>

	<hr>
	<footer class="bg-dark text-white">
	<% include ../partials/footer %>
	</footer>
  </body>
</html>
