<!DOCTYPE html>
<html>
<head>
	<title>Registration Error</title>
	<% include ../partials/head %>
</head>
<body>
	<div class="container">
	  <div class="row">
	    <div class="span12">
	      <div class="hero-unit center">
	          <h1>Username Unavailable <small><font face="Tahoma" color="red">Sorry!!!</font></small></h1>
	          <br />
	          <p>The Username you requested is not available , Find a new Usernames try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
	          <p><b>Or you could just press this neat little button:</b></p>
	          <a href="/login" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Registration page again.</a>
	        </div>
	    </div>
	  </div>
	</div>
</body>
</html>